.social{
  padding: 2rem 0;
  h3{
    font-size: $text-lg;
  }
  .social-menu{
    padding: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
  }
  .social-link{
    color: $secondary;
    font-size: $text-lg;
  }
  .contact-info{
    grid-template-columns: 1fr;
  }
  form{
    border: 1px solid $secondary;
    grid-template-columns: 1fr;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    label{
      color: $grey;
    }
    .form-control{
      border: none;
      padding: 1rem 1rem;
      border-radius: 0.5rem;
      outline: none;
    }
    textarea{
      height: 10rem;
      resize: none;
    }
    .btn{
      background-color: $secondary;
      width: fit-content;
      a{
        color: $white;
      }
    }
  }
}
