.project-card{
  nav.project-navigation{
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    button{
      background-color: $secondary;
      color: $primary;
    }
    i{
      font-size: $text-xlg;
    }
  }
}
@media (min-width: 600px){
  .blogs{
    .project-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .project-card{
    width: 100%;
    div:first-child{
      height: 250px;
      img{
        height: 100%;
      }
    }
    h2{
      font-size: $text-sm;
    }
    p{
      font-size: $text-xsm;
    }
  }
}